* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}
header {
  width: 100%;
  height: 100vh;
}
.navbar {
  width: auto;
  height: 10%;
  padding: 0px 20px;
  display: flex;
  background-color: whitesmoke;
  justify-content: space-evenly;
  align-items: center;
  & h1 {
    padding: 0px 10px;
  }
  & ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
  }
  & ul li a {
    text-decoration: none;
    color: black;
  }
  & ul li {
    list-style: none;
    padding-top: 13px;
  }
}
.first_page {
  width: auto;
  height: 90%;
  background-image: url(/img/e7636a09-8670-404a-a6ff-d8302178b5ed.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  position: relative;
  & .text {
    width: auto;
    height: auto;
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 2.6em;
    text-align: center;
    & h2 {
      font-size: 2em;
    }
    & p {
      font-size: 30px;
    }
  }
  & button {
    font-size: 0.7em;
    display: block;
    margin: auto;
    border: 1px solid black;
    background-color: transparent;
    padding: 0px 30px;
  }
}
.style {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: -40px;
}
.servise {
  font-size: 1em;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.New-arrival {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  & hr {
    font-weight: bold;
  }
}
.product {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}
.Products {
  width: 250px;
  height: 250px;
}
.Products img {
  width: 90%;
  height: 90%;
}
.Products p {
  display: flex;
  justify-content: space-evenly;
}
footer {
  width: 100%;
  height: 10%;
  background-color: whitesmoke;
  place-items: center;
  place-content: center;
  & h1 {
    font-size: 1em;
  }
}
.emote {
  display: flex;
  gap: 40px;
  padding-right: 20px;
  align-items: center;
  align-content: center;
}
#ser {
  font-size: 2.5em;
}
button:hover {
  color: white;
  background-color: black;
}
button {
  border-radius: 20px;
}
